/* Importing colors and fonts into stylesheet */
@import url("util/colors.css");
@import url("util/fonts.css");
@import url("util/animations.css");

/* Common styles used across all pages */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-gradient);
    color: var(--text-color);
    font-family: Reforma;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}

.hidden {
    display: none;
}

.number {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar {
    width: 100%;
    height: 70px;
    background-color: var(--highlight-color);
    padding: 0 25px;
    position: fixed;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-item {
    width: 20%;
    max-height: 70px;
    display: flex;
    align-items: center;
}

#navbar-logo-wrapper{
   justify-content: center;
}

#navbar-logo {
    max-height: 62px;
    width: 53%;
    min-width: 140px;
    object-fit: cover;
}

#navbar-logo:hover {
    cursor: pointer;
}

#navbar-dropdown-wrapper {
    justify-content: end;
}

#navbar-dropdown-button {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    align-items: end;
    padding: 8px;
}

.navbar-dropdown-shape {
    width: 20px;
    height: 2px;
    background-color: var(--text-color);
    transition: transform 250ms;
}

#navbar-dropdown-button:hover {
    cursor: pointer;
}

#dropdown-menu {
    position: fixed;
    top: 70px;
    right: 0;
    width: calc(10vw + 200px);
    height: 340px;
    background-color: var(--highlight-color-dark);
    border-bottom-left-radius: 10px;
}

#dropdown-menu::after {
    content: "";
    width: 100%;
    height: 1px;
    top: 0;
    background-color: black;
    position: absolute;
    filter:blur(0.3rem);
}

#dropdown-menu #dropdown-options-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 2.5%;
    animation: 0.4s fade-in linear;
}

#dropdown-menu #dropdown-options-wrapper a {
    text-decoration: none;
}

#dropdown-menu .dropdown-option {
    height: 42px;
    text-align: center;
    font-size: 1.2rem;
    padding: 6px;
    color: var(--text-color);
}

#dropdown-menu .dropdown-option:hover {
    cursor: pointer;
    background-color: var(--mobile-dropdown-bg-color);
    font-size: 1.25rem;
    transition: font-size 0.1s;
}

#dropdown-menu #dropdown-socials-wrapper {
    border-top: 1px solid var(--text-color);
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

#dropdown-menu .socials {
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 0 5px;
}

#dropdown-menu .socials:hover {
    scale: 1.15;
    transition: scale 0.1s;
}

#main {
    padding-top: 70px;
    min-height: 100vh;
}

.footer-page-header {
    font-size: calc(1.8vw + 2.2rem);
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
    font-family: Lato;
}

.footer-page-content {
    text-align: center;
    width: 80ch;
    max-width: 85vw;
    margin: 0 auto;
    padding-bottom: 85px;
}

.footer-page-subheading {
    margin-top: 20px;
    padding-bottom: 8px;
    padding-top: 20px;
    font-size: calc(1.2vw + 0.95rem);
    border-top: 1px solid var(--text-color);
    font-family: Lato;
}

.footer-page-text {
    font-size: calc(0.4vw + 0.85rem);
    margin-top: 10px;
    font-family: "League spartan";
    line-height: calc(0.7vw + 0.95rem);
    color: #333;
}

.footer-page-text > strong {
    color: var(--text-color);
}

#footer {
    width: 100%;
    min-height: 320px;
    background: var(--footer-gradient);
    padding: 30px 2vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
}

.footer-section {
    width: 275px;
    min-height: 200px;
    padding: 10px 15px 30px 15px;
}

.footer-section-header {
    text-transform: uppercase;
    text-align: center;
    color: var(--bg-color);
    font-size: 1.4rem;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-color);
}

.footer-section-content {
    padding-top: 15px;
    padding-left: 3px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
}

.footer-section-content-item {
    font-family: Reforma-Blanca;
    font-size: 1rem;
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 0;
    width: fit-content;
}

.footer-section-content > a:hover {
    color: var(--highlight-color);
}

.footer-symbol {
    padding-right: 7px;
    color: var(--bg-color)
}

.footer-phone-number a[href^=tel] {
    color: var(--bg-color);
    text-decoration: none;
}

.footer-start-of-address {
    padding-top: 10px;
}