/* Colors used across all pages */

:root {
    --text-color: #1a1a1a;
    --bg-color: #fbfcfb;
    --bg-color-dark: #eeeeee;
    --highlight-color: #c2e3f5;
    --highlight-color-dark: #b2d0e0;
    --mobile-dropdown-bg-color: #99bdd1e7;
    --footer-color: #353535;
    --footer-color-dark: #2c2c2c;
    --scrollbar-color: #b5c5d6;
}