/* Colors used across all pages */

:root {
    --text-color: #1a1a1a;

    --bg-color: #fbfcfb;
    --bg-color-dark: #eeeeee;
    --bg-gradient: linear-gradient(to bottom right, var(--bg-color), var(--bg-color-dark));

    --highlight-color: #c2e3f5;
    --highlight-color-dark: #b2d0e0;
    --mobile-dropdown-bg-color: #99bdd1f7;
    --scrollbar-color: #b5c5d6;

    --footer-color: #353535;
    --footer-color-dark: #2c2c2c;
    --footer-gradient: linear-gradient(to bottom right, var(--footer-color), var(--footer-color-dark));

}