/* Styles specifically for the home page (home.html) */

#opening-section {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#opening-section-background {
    position: fixed;
    top: 70px;
    z-index: -1;
    opacity: 0.2;
    filter: brightness(60%);
    min-height: 100%;
    min-width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

#opening-section h1 {
    font-size: calc(3vw + 1rem);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#opening-section h2 {
    font-size: calc(1.5vw + 0.7rem);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}

#opening-section p {
    margin-top: 1.8vw;
    padding-top: 1.8vw;
    width: 60ch;
    max-width: 80vw;
    text-align: center;
    font-family: Reforma-blanca;
    font-size: calc(0.7vw + 0.55rem);
    font-style: italic;
    border-top: 1px solid var(--text-color);
}

#reviews-section {
    background-image: linear-gradient(to bottom right, var(--bg-color), var(--bg-color-dark));
    padding-top: 60px;
    padding-bottom: 80px;
}

#reviews-section h2 {
    text-align: center;
    font-size: calc(1.8vw + 1.4rem);
}

#reviews-section #reviews-wrapper {
    width: 98%;
    margin: 0 auto;
    padding-top: 60px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#reviews-section .review {
    max-width: 85vw;
    width: 400px;
    aspect-ratio: 1.55;
    padding: 8px;
}

#reviews-section .review h3 {
    color: var(--mobile-dropdown-bg-color);
    font-size: 1.55rem;
    margin: 0 auto;
    width: max-content;
    transition: scale 250ms;
}

#reviews-section .review a {
    color: var(--mobile-dropdown-bg-color);
    text-decoration: none;
    width: max-content;
}

#reviews-section .review h3:hover {
    cursor: pointer;
    scale: 1.1;
}

#reviews-section .review p {
    padding-top: 10px;
    font-family: Reforma-blanca;
    font-size: 0.9rem;
    font-style: italic;
}

#reviews-section .review p::before, #reviews-section .review p::after {
    content: ' " ';
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (orientation: portrait) {
    #opening-section {
        padding-bottom: 60px;
    }
}